* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
/* Khôi phục cở chữ mặc định */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ========================COMMON===================== */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  padding: 9px 16px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  min-width: 118px;
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 24.5px;
  background: black;
}
/* ========================HEADER===================== */
.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  /* Giật giật phần text xung quanh nên dùng text shadow */
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  display: block;
  left: 21px;
  /* bottom: 6px; */
  content: "";
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
  position: absolute;
}
.header.btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
